<% artist = artwork.artist %>
<div style="padding-bottom: 60px">
  <div>
    <a href="<%= "/#{artist.screen_name}" %>">
      <img src="<%= artist.profile_image_url %>" style="border-radius: 50%">
      <%= artist.screen_name %>
    </a>
  </div>
  <div>
    <a href="<%= artwork.url %>">
      <% if artwork.media_type == 'photo' %>
        <img src="<%= artwork.media_url %>" style="width: 100%" />
      <% elsif artwork.media_type == 'animated_gif' || artwork.media_type == 'video' %>
        <video src="<%= artwork.media_url %>" autoplay loop style="width: 100%" />
      <% else %>
        <% raise %>
      <% end %>
    </a>
  </div>
  <div>
    <%= artwork.text.gsub(/http.+/, '').gsub(/#.+/, '') %>
    <% artwork.hashtags.map(&:name).each do |hashtag| %>
      <a href="<%= "/hashtags/#{hashtag}" %>"><%= "##{hashtag}" %></a>
    <% end %>
  </div>
</div>
