<% artist = artwork.artist %>
<div style="padding-bottom: 60px">
  <% if defined?(liked_user) && liked_user.present? %>
    <div style="padding: 4px 10px">
      <a href="<%= "/#{artist.screen_name}" %>" style="text-decoration: none">
        <img src="<%= artist.profile_image_url %>" style="border-radius: 50%; height: 32px;">
        <div style="display: inline-block; height:32px; margin: auto; color: #639bff;">
          <%= artist.name %>
          <%# if defined?(liked_user) && liked_user.present? %>
            <img src="<%= liked_user.profile_image_url %>" style="border-radius: 50%; height: 20px; padding-left: 4px;">
            <span style="position: relative; left: -14px;">💕</span>
          <%# end %>
        </div>
      </a>
    </div>
  <% end %>

  <div>
    <a href="<%= artwork.url %>">
      <img src="/frame.png" style="width: 100%" />
      <% if artwork.media_type == 'photo' %>
        <img src="<%= artwork.media_url %>" style="
          position: relative;
          top: -354px;
          width: 202px;
          left: 83px;
          object-fit: cover;
          height: 162px;
          margin-bottom: -140px;
          border: solid 2px black;
        " />
      <% elsif artwork.media_type == 'animated_gif' || artwork.media_type == 'video' %>
        <video src="<%= artwork.media_url %>" autoplay loop style="
          position: relative;
          top: -354px;
          width: 202px;
          left: 83px;
          object-fit: cover;
          height: 162px;
          margin-bottom: -140px;
          border: solid 2px black;
        " />
      <% else %>
        <% raise %>
      <% end %>
    </a>
  </div>

  <div style="padding: 4px 10px">
    <%= artwork.text.gsub(/http.+/, '').gsub(/#.+/, '') %>
    <% artwork.hashtags.map(&:name).each do |hashtag| %>
      <a href="<%= "/hashtags/#{hashtag}" %>"><%= "##{hashtag}" %></a>
    <% end %>
  </div>
</div>
