<% artist = artwork.artist %>
<div style="padding-bottom: 60px">
  <div style="padding: 4px 10px">
    <a href="<%= "/#{artist.screen_name}" %>" style="text-decoration: none">
      <img src="<%= artist.profile_image_url %>" style="border-radius: 50%; height: 32px;">
      <div style="display: inline-block; height:32px; margin: auto; color: #639bff;">
        <%= artist.name %>
        <% if defined?(liked_user) && liked_user.present? %>
          <img src="<%= liked_user.profile_image_url %>" style="border-radius: 50%; height: 20px; padding-left: 4px;">
          <span style="position: relative; left: -14px;">💕</span>
        <% end %>
      </div>
    </a>
  </div>

  <div>
    <a href="<%= artwork.url %>">
      <% if artwork.media_type == 'photo' %>
        <img src="<%= artwork.media_url %>" style="width: 100%" />
      <% elsif artwork.media_type == 'animated_gif' || artwork.media_type == 'video' %>
        <video src="<%= artwork.media_url %>" autoplay loop style="width: 100%" />
      <% else %>
        <% raise %>
      <% end %>
    </a>
  </div>

  <div style="padding: 4px 10px">
    <%= artwork.text.gsub(/http.+/, '').gsub(/#.+/, '') %>
    <% artwork.hashtags.map(&:name).each do |hashtag| %>
      <a href="<%= "/hashtags/#{hashtag}" %>"><%= "##{hashtag}" %></a>
    <% end %>
  </div>
</div>
