<!DOCTYPE html>
<html>
  <head>
    <title>Pixelart</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
  </head>

  <style>
    * {
      margin: 0;
      padding: 0;
      background: #0e0c25;
      color: lightgray;
      font-family: "M PLUS 1p";
    }
    a { color: #639bff }
  </style>

  <body>
    <%= yield %>
  </body>
</html>
