<!DOCTYPE html>
<html>
  <head>
    <title>Pixelart</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <style>
    * {
      margin: 0px;
      padding: 0px;
    }
    a { color: #639bff }
  </style>

  <body>
    <%= yield %>
  </body>
</html>
